* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #0a2209;
	overflow: hidden;
}

#navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 0;
	background-color: rgb(77, 72, 72);
	opacity: 0.5;
	width: 100%;
	padding: 1.5rem 0;
	height: 6.5rem;
	color: aliceblue;
	position: absolute;
	z-index: 1;
}

#logoContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 5rem;
}

#logoContainer img {
	width: 100px;
}

.navigationButtons {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
	margin-right: 5rem;
}

.navigationButtons p {
	color: rgb(26, 65, 65);
	background-color: aliceblue;
	margin: 0 1rem;
	padding: 0.5rem 1rem;
}

#mainPage {
	display: flex;
}

#mainPage .container article {
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	border-radius: 0;
}

.carouselContainer {
	display: flex;
	position: fixed;
	align-items: center;
	bottom: 0;
	right: 0;
	width: 25%;
	height: 100%;
	background: transparent;
}

.buttonContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	bottom: 5%;
	right: 5%;
	background-color: #000;
	width: 10%;
	z-index: 1;
}

.carousel {
	width: 100%;
	height: 70%;
	display: flex;
	flex-direction: column;
	transform: translateY(0%);
	transition: 0.5s;
}

.carousel #firstItems {
	flex-direction: column;
	transform: translate(-50%, -50%);
}

.carousel #secondItems {
	flex-direction: column;
	transform: translate(-50%, 150%);
}

.carousel article {
	min-width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
}

#firstItems .imgContainer,
#secondItems .imgContainer {
	display: flex;
	margin: 5px 0;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: 0.3s;
	cursor: pointer;
}

.carousel article .imgContainer:hover {
	transform: scale(1.3);
}

.carousel article .imgContainer img {
	width: 100%;
}

.active {
	color: aliceblue;
	display: flex !important;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	border-radius: 0;
	animation: activeAnimation 0.5s forwards;
}

@keyframes activeAnimation {
	0% {
		opacity: 0;

		transform: translateX(100%) scale(0);
	}
	100% {
		opacity: 1;
		
		transform: translateX(0) scale(1);
	}
}

.active img {
	width: 75%;
}

.deactive {
	z-index: 999;
	animation: deactiveAnimation 0.5s forwards;
}

@keyframes deactiveAnimation {
	0% {
		opacity: 1;
		transform: translateX(0%) scale(1);
	}
	100% {
		opacity: 0;
		transform: translateX(-90%) scale(0);
	}
}

.active .content {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 30%;
	left: 5%;
	width: 30%;
	gap: 15px;
	z-index: 1;
	font-size: 2rem;
}

.contentButtons button {
	margin: 0 5px;
	cursor: pointer;
}
